.container-formulario{
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.486);
    padding: 20px;
    width: 75%;
    height: 500px;
    
    
    
}
.formulario{
    width: 100%;
}